.nav {
  @include flex;
  justify-content: space-between;
  width: 100%;
  padding: 15px 0;
  border-bottom: 1px solid var(--line-color);

  .user {
    @include flex;

    &-setting {
      display: inline-grid;
      place-content: center;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      border: 1px solid var(--line-color);
      margin-right: 15px;
    }
  }
}

.search {
  &-form {
    @include flex;
  }
  &-input {
    border: 0;
    outline: 0;
    background: 0 0;
    color: var(--text-white);
    margin-left: 10px;
  }
}
